-- Als tabel bestaat droppen.
drop table if exists Pokemons;

CREATE TABLE [dbo].[Pokemons](
	[PokemonId] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type_1] [nvarchar](50) NOT NULL,
	[Type_2] [nvarchar](50) NULL,
	[Total] [int] NOT NULL,
	[HP] [int] NOT NULL,
	[Attack] [int] NOT NULL,
	[Defense] [int] NOT NULL,
	[Sp_Atk] [int] NOT NULL,
	[Sp_Def] [int] NOT NULL,
	[Speed] [int] NOT NULL,
	[Generation] [nvarchar](50) NOT NULL,
	[Legendary] [bit] NOT NULL,
 CONSTRAINT [PK_Pokemons] PRIMARY KEY CLUSTERED 
(
	[PokemonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Pokemons] ([PokemonId], [Number], [Name], [Type_1], [Type_2], [Total], [HP], [Attack], [Defense], [Sp_Atk], [Sp_Def], [Speed], [Generation], [Legendary]) VALUES (1, 1, N'Bulbasaur', N'Grass', N'Poison', 318, 45, 49, 49, 65, 65, 45, N'1', 0)
INSERT [dbo].[Pokemons] ([PokemonId], [Number], [Name], [Type_1], [Type_2], [Total], [HP], [Attack], [Defense], [Sp_Atk], [Sp_Def], [Speed], [Generation], [Legendary]) VALUES (2, 2, N'Ivysaur', N'Grass', N'Poison', 405, 60, 62, 63, 80, 80, 60, N'1', 0)
INSERT [dbo].[Pokemons] ([PokemonId], [Number], [Name], [Type_1], [Type_2], [Total], [HP], [Attack], [Defense], [Sp_Atk], [Sp_Def], [Speed], [Generation], [Legendary]) VALUES (3, 3, N'Venusaur', N'Grass', N'Poison', 525, 80, 82, 83, 100, 100, 80, N'1', 0)
GO
